.summary-container{
    margin-left: 15%;
    margin-top: 3%;
    width: 30%;
}

.summary-container-box {
    padding-left: 3%;
    display: flex;
    align-items: center;
    border: 1px solid grey;
    height: 35px;
}

.summary-text {
    text-align: start;
    margin-left: 3%;
    font-size: 16px;
}